body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  font-family: 'Lora', serif;


}
html {
  margin:0;
  padding: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.panel{
	/*color:red;*/
	width:100px;
}
.main{
  background-color: '#f1f7ff'
}
.menu__list{
  margin-top: 50px !important;
  padding:20px !important;
}
.plan__modal{
  display: flex !important;
  align-items: flex-end !important;
  justify-content: center !important;
}
.menu__sidebar{
  background-color: aliceblue;
  margin-top: 10px !important;
}
 
.bottomNavigation{
  display: flex;
  justify-content: space-between;
  position:sticky;
 
}
/*menu link for bottom navigation*/
.bottomMenuLink{
  padding:0px 20px;
}
.bottomMenuLink:hover{
  color:#A577EE !important;
}

 
.link__active{
  border-radius: 100%;
  color:#A577EE !important
}

.plusContainer > .MuiSvgIcon-root{
  color:white;
  font-size:30px;
  padding:3px;
  background-color:#8080df;
  border-radius: 50%;
}