.total {
  border-radius: 6px;
  display: flex;
  /* here the directi
  on allows the elements to be under each other*/
  flex-direction: column;
  justify-content: center;
  /*this centers both the title and  currencylist*/
  text-align: center;
}
.total h1 {
  font-size: 42px;
  font-weight: 800;
}

.total__currency {
  margin: 4px auto;
  overflow-x: scroll;
  width: 40%;
}
.total__currency::-webkit-scrollbar {
  display: none;
}
.total__currency > span {
  /*space between the diff currencies*/
  margin-left: 16px;
  cursor: pointer;
}
.total__buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 16px;
}

.total__save {
  background: var(--purple) !important;
  border-radius: 25px !important;
  font-size: 12px !important;
  color: white !important;
  padding: 14px 24px !important;
}
.total__automate {
  border-radius: 25px !important;
  font-size: 12px !important;
  margin-left: 8px !important;
  border: 1px solid indigo !important;
  padding: 14px 24px !important;
}

.active {
  color: #fff;
  background-color: var(--purple);
  padding: 4px;
  border-radius: 8px;
}
.selectPlan > div > div {
  width: 100% !important;
  padding: 16px;
}
.selectPlan > a {
  padding: 16px;
  font-size: 20px;
  color: var(--purple);
}
.disabledButton {
  background-color: var(--purple-light) !important;
}
@media screen and (min-width: 768px) {
  .total {
    width: 50%;
    border: 1px solid var(--gray-light);
    padding: 30px 8px;
    margin: 30px auto;
  }
  .total h1 {
    font-size: 30px;
    margin-top: 4px;
  }
  .total__currency {
    min-height: 30px;
  }
}
