.signIn {
  margin: 32px auto;
  padding: 0px 30px;
}
.login__form {
  margin-top: 32px;
}
.signIn > div > h1 {
  font-size: 32px;
}
.sideImg {
  display: none;
}

.login__button > div > button {
  background: var(--purple);
  margin-top: 20px;
  color: white;
  padding: 10px 26px;
  width: 100%;
  border-radius: 40px;
  margin-bottom: 30px;
}
.helper__text {
  font-size: 12px;
  margin: 4px 0px 12px 0px;
  color: var(--purple-dark);
}

.signIn__link {
  display: flex;
  align-items: center;
  color: var(--purple);
  text-align: center;
  margin-top: 32px;
  justify-content: center;
}
.signIn__link > span {
  color: var(--gray);
}

.signIn > div > form > div > .MuiFormControl-fullWidth {
  margin: 8px 0px;
  font-size: 16px;
}
.auth__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.kep-login-facebook {
  color: blue !important;
  background-color: white !important;
  border: 1px solid var(--gray) !important;
  padding: 5px !important;
}
.kep-login-facebook.metro > .MuiSvgIcon-root {
  font-size: 2em !important;
}
.google__button {
  border: 1px solid var(--gray) !important;
  box-shadow: unset !important;
}
.google__button > span {
  display: none;
}
.google__button > div {
  margin: unset !important;
  background-color: unset;
}
.google__button > div > svg > g {
  width: 4em !important;
}
.MuiBox-root {
  width: 100% !important;
}
.login__button {
  text-align: center;
}
.login__button > div > button {
  width: 70%;
  margin-top: 24px;
}
@media screen and (min-width: 385px) {
}

@media screen and (min-width: 540px) {
  .signIn {
    display: grid;
    place-items: center;
    margin: unset;
    padding: unset;
    height: 100vh;
    width: 100vw;
  }
  .signIn__form {
    width: 70%;
    border: 1px solid var(--gray-light);
    padding: 42px;
    box-shadow: 0px 40px 50px rgba(2, 2, 2, 0.08);
    margin-top: 10px;
  }

  .signIn > div > p {
    font-size: 16px;
  }
  .login__form {
    margin-top: 42px;
  }
  .signIn__link {
    text-align: center;
    justify-content: center;
    font-size: 16px;
  }
}
@media screen and (min-width: 635px) {
  .signIn__form {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .signIn {
    display: flex;
    margin: unset;
    padding: unset;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
  }
  .signIn > div {
    border: unset;
    box-shadow: unset;
    padding: unset;
    width: unset;
    margin: unset;
    flex: 0.5;
    margin: 0 24px;
  }
  .sideImg {
    display: block;
  }
  .signIn__form {
    display: block;
    padding: 16px 24px !important;
  }
}
