.resetPassword {
  padding: 16px;
}
.resetButton {
  text-transform: inherit !important;
  border: inherit !important;
  color: white !important;
  background-color: var(--purple) !important;
  margin-top: 30px !important;
}
.resetPassword > form > h1 {
  font-size: 24px;
}
.resetPassword > form > a,
.forgetPassword > form > a {
  padding-top: 40px !important;
  color: blue;
  display: block;
}
.forgetPassword {
  padding: 16px;
}
.forgetPassword > div > h1 {
  font-size: 24px;
}

.forgetPassword > div > p {
  margin-top: 16px;
  color: var(--black-light);
}
.forgetPassword > form {
  margin-top: 50px;
}

@media screen and (min-width: 415px) {
  .forgetPassword > form > div {
    width: 50%;
  }
  .forgetPassword,
  .resetPassword {
    padding: 28px;
  }
  .resetPassword > div > a {
    display: block;
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) {
  .forgetPassword,
  .resetPassword {
    display: flex;
    align-items: center;
    max-width: 780px;
  }
  .forgetPassword > div {
    flex: 0.6;
  }
  .forgetPassword > form {
    margin-left: 5%;
    flex: 0.4;
    margin-top: 32px;
  }
  .forgetPassword > form > div {
    width: 100%;
  }
  .resetPassword > h1 {
    flex: 0.4;
    font-size: 28px;
  }
  .resetPassword > div {
    flex: 0.6;
  }
  .resetPassword > div > form {
    width: unset;
    margin-top: 100px;
  }
  .resetPassword > div > a {
    display: block;
    margin-top: 24px;
  }
}
