.plans__button {
  height: 40px !important;
  width: 40px !important;
  position: fixed !important;
  bottom: 80px;
  right: 8px;
  background-color: var(--purple) !important;
  color: white !important;
}

.plans h1 {
  font-size: 32px;
  padding: 0px 16px;
  margin-top: 32px;
  margin-left: 6px;
}

.plans__body > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 56px;
}
.plans__body > div > div {
  min-width: 250px;
  background: var(--purple);
  border-radius: 10px;
  color: white;
  margin: 16px 8px;
  padding: 16px;
  min-height: 150px;
  display: grid;
  place-items: center;
}
.plans__plan > p {
  font-weight: 800;
  font-size: 18px;
}

.plans__plan > span {
  font-size: 20px;
}

.transaction {
  margin: 60px;
  padding: 20px;
  box-shadow: 0px 20px 25px -10px rgba(0, 0, 0, 0.25);
}

.transaction > h1 {
  font-size: 32px;
}

.transaction__amount {
  font-size: 24px;
  padding-top: 20px;
}
.transaction__date {
  color: var(--black);
  opacity: 0.7;
}
.empty__goals {
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 64px;
}
.empty__goals > img {
  height: 150px;
  width: 100%;
}
.empty__goals > h4 {
  padding-left: 16px;
  color: var(--black-light);
}
.empty__goals > p {
  font-weight: 700;
  font-size: 20px;
  padding: 24px;
  color: var(--black-light);
}
@media screen and (min-width: 768px) {
  .plans__body > div {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 56px;
  }
  .plans__button {
    width: 70px !important;
    height: 70px !important;
    bottom: 10%;
  }
}
