.resetPassword {
  padding: 16px;
}
.resetButton {
  text-transform: inherit !important;
  border: inherit !important;
  color: white !important;
  background-color: var(--purple) !important;
  margin-top: 30px !important;
}
.resetPassword > form > h1 {
  font-size: 24px;
}
.resetPassword > a {
  padding-top: 40px !important;
  color: blue;
  display: block;
}
.forgetPassword {
  padding: 16px;
}
.forgetPassword > div > h1 {
  font-size: 24px;
}

.forgetPassword > div > p {
  margin-top: 16px;
  color: var(--black-light);
}
.forgetPassword > form {
  margin-top: 50px;
}
