.amountPage {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.amountPage__header {
  padding: 16px;
  display: flex;
  align-items: center;
}
.amountPage__header > h1 {
  font-size: 20px;
  margin-left: 20%;
}
.amountPage__amount {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.amountPage__button {
  text-align: center;
}
.amountPage__button > button {
  width: 70%;
  margin-top: 144px !important;
}

.false {
  color: var(--white) !important;
  background-color: var(--purple) !important;
}

.amountPage__body {
  padding: 16px;
}
.amountPage__body > h1 {
  font-size: 18px;
  font-weight: 600;
}
.amountPage__amount {
  margin-top: 24px;
}
.amountPage__amount > .MuiFormControl-root > .MuiInputBase-root {
  padding: 12px !important;
  font-size: 1.5rem !important;
}

@media screen and (min-width: 768px) {
  .amountPage__header {
    display: block;
    flex: 0.4;
    padding: 16px;
  }
  .amountPage {
    flex-direction: row;
  }
  .amountPage__header > p {
    font-size: 32px;
  }
  .amountPage__body {
    flex: 0.4;
    margin-top: 32px;
  }
}
