.confirmPage {
  flex: 1;
}
.confirmPage__header {
  display: flex;
  padding: 16px;
}

.confirmPage__header > h1 {
  font-size: 30px;
  margin-left: 20%;
}

.confirmPage__details > div {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
}
.confirmPage__button {
  text-align: center;
  margin-top: 56px;
}

.confirmPage__button > button {
  background: var(--purple);
  padding: 8px 16px;
  color: white;
  width: 70%;

  border-radius: 6px;
}
.confirmPage__paymentOptions {
  margin-top: 56px;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .confirmPage__body {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
  }
  .confirmPage__details > div {
    margin-top: 16px;
  }
  .confirmPage__header > h1 {
    margin-left: 32%;
    font-size: 32px;
  }
}
